#header {
    min-height: 24vh;
    border-radius: 15px;
    background-color: antiquewhite;
}

.iconMargin {
    margin: 1% 1% 1% 2%;
}

#title {
    display: inline-flex;
}

#textAnimation {
    /* text-align: center; */
    justify-content: center;
    display: flex;
    color: darkslategrey;
}

span::before {
    content: "Your ideas. Your tasks. Quickly.";
    animation: changeText 8s infinite;
}

@keyframes changeText {
    0% {
        content: '"Organize Your Thoughts, Achieve Your Goals."';
    }
    50% {
        content: '"The Fast Way to Keep Track."';
    }
    75% {
        content: '"Notes Made Easy. Tasks Made Simple."';
    }
}