<div class="container">
    <mat-card appearance="raised" class="cardDimension">
        <mat-card-title class="cardTitle">{{cardDetails.title}}</mat-card-title>
        <mat-card-content class="cardContent">{{cardDetails.notes}}</mat-card-content>
        <mat-card-content class="cardDate">Created on: {{cardDetails.date}}</mat-card-content>
        <mat-card-actions class="cardAction">
            <button class="deleteButton" (click)="deleteNote(cardDetails.id)">
                <i class="fa-solid fa-trash"></i>
            </button>
            <button class="updateButton" (click)="updateButton(cardDetails.id)">
                <i class="fa-solid fa-pencil"></i>
            </button>
        </mat-card-actions>
    </mat-card>

</div>

