.container {
    margin: 3%;
    display: flex;
}

.cardDimension {
    width: 100%;
    height: 250px;
}
.cardTitle {
    /* width: 100%; */
    align-content: center;
    height: 20%;
    padding: 4%;
}
.cardContent {
    /* width: 100%; */
    height: 50%;
}
.cardDate {
    font-size: 12px;
    /* width: 100%; */
    /* height: 250px; */
}
.cardAction {
    display: block;
    padding: 2%;
}
.deleteButton {
    float: left;
}
.updateButton {
    float: right;
}